# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Unit test / coverage reports
htmlcov/
*.cover
.coverage
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.pytest_cache
.pytest_cache/

# Django-specific
*.sqlite3
*.pyc

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pyright static type checker
.pyright/

# pipenv
Pipfile.lock

# pyenv
.python-version

# Poetry
poetry.lock

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*~

# Ignore .env file (environment variables)
.env
